<!DOCTYPE html>
<html xmlns="http://www.w3.org/I999/xhtml" xmlns:th="http://www.thymeleaf.org"
  										   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:include="includes/head.html"></div>

<body>

	<!-- Pre-loader start -->
	<div th:include="includes/theme-loader.html"></div>

	<!-- Pre-loader end -->
	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">

			<div th:include="includes/navbar.html"></div>

			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">

					<div th:include="includes/navbarmainmenu.html"></div>

					<div class="pcoded-content">
						<!-- Page-header start -->
						<div th:include="includes/pageheader.html"></div>
						<!-- Page-header end -->
						<div class="pcoded-inner-content">
							<!-- Main-body start -->
							<div class="main-body">
								<div class="page-wrapper">
									<!-- Page-body start -->
									<div class="page-body">
										<h4>Enroll teacher in the subject</h4>
										<div class="row">
											<div class="col-sm-12">
												<!-- Basic Form Inputs card start -->
												<div class="card">
													<div class="card-block">
													
													 <div th:if="${disciplines.size > 0}">
														<h4 class="sub-title">Enter the information below:</h4>

															<form class="form-material" action="enrollTeacher" method="post">

																<div class="mb-3">
																	<label class="form-label">Subjects without a teacher:</label>
																	 <select name="discipline" class="form-control">
																		<option th:each="discipline : ${disciplines}" th:value="${discipline.id}" th:text="${discipline.name}"></option>
																	</select>
																</div>
																<div class="mb-3">
																	<label class="form-label">Teacher:</label> 
																	 <select name="teacher" class="form-control">
																		<option th:each="teacher : ${teachers}" th:value="${teacher.id}" th:text="${teacher.name}"></option>
																	</select>
																</div>
																<button class="btn btn-primary waves-effect waves-light">Enroll</button>
															
															</form>
													  </div>
													  <div th:unless="${disciplines.size > 0}">
														 	<span>No disciplines available!</span>
													  </div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<h6 th:text="${msg}"></h6>
								</div>
							</div>
						</div>
						<div id="styleSelector"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div th:include="includes/jsfile.html"></div>

</body>
</html>