<!DOCTYPE html>
<html xmlns="http://www.w3.org/I999/xhtml" xmlns:th="http://www.thymeleaf.org"
  										   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  										   
<div th:include="includes/head.html"></div>

<body>

	<!-- Pre-loader start -->
	<div th:include="includes/theme-loader.html"></div>

	<!-- Pre-loader end -->
	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">

			<div th:include="includes/navbar.html"></div>

			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">

					<div th:include="includes/navbarmainmenu.html"></div>

					<div class="pcoded-content">
						<!-- Page-header start -->
						<div th:include="includes/pageheader.html"></div>
						<!-- Page-header end -->
						<div class="pcoded-inner-content">
							<!-- Main-body start -->
							<div class="main-body">
								<div class="page-wrapper">
									<!-- Page-body start -->
									<div class="page-body">

										<div class="card">
											<div class="card-header">
												<h4>All Students</h4>
											</div>
											
												<div class="card-block table-border-style">
												 <div class="table-responsive">
													
													<div th:if="${students.size > 0}">
													
													 <h6>Click on the student's name to see the courses enrolled.</h6>											
													
													  <form action="deleteStudent" method="post">
														<table class="table">
															<thead>
																<tr>
																	<th></th>
																	<th>Name</th>
																	<th>Email</th>
																	<th>CPF</th>
																	<th>RA</th>
																</tr>
															</thead>
															<tbody>
																<tr th:each = "student : ${students}">
																	<td><input type="radio" name="id_student" th:value="${student.id}" required></td>
																	<td><a data-toggle="modal" data-target="#disciplineStudentModal" th:onclick="@{'studentEnrollments('+${student.id}+');'}" th:text="${student.name}"></a></td>
																	<td th:text = "${student.email}"></td>
																	<td th:text = "${student.cpf}"></td>
																	<td th:text = "${student.ra}"></td>
																</tr>
															</tbody>
														</table>
															<input class="btn btn-danger" type="submit" value="Delete Student"> 
													  </form>	
													 </div>
													 <div th:unless="${students.size > 0}">
														 <span>No students available!</span>
													 </div>  
													  
												 </div>
												</div>
											
										</div>
									</div>
									<!-- Page-body end -->
								</div>
								<div id="styleSelector"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:include="includes/jsfile.html"></div>

	<!-- Modal -->
	<div class="modal fade" id="disciplineStudentModal" tabindex="-1" role="dialog"	aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="exampleModalLabel">Student subjects</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					   <div style="height: 400px; overflow: scroll;" id="divTable">
						<table class="table" id="tabelaResultados">
							<thead>
								<tr>
									<th scope="col">Discipline</th>
									<th scope="col">Date Start</th>
									<th scope="col">Date End</th>
									<th scope="col">Total Classes</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					  </div>	
					  
					  <div id="divNoEnrollment">
						<span>The student is not enrolled in any subject!</span>
					  </div>
					  
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"	data-dismiss="modal">Exit</button>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
	function studentEnrollments(id) {
		$.ajax({
			method: "get",
			url: "studentEnrollments",
			data: "id=" + id,
			success: function(enrollment) {

				$('#tabelaResultados > tbody > tr').remove();
				
				if(enrollment.length == 0) {
					$('#divTable').hide();
					$('#divNoEnrollment').show();
				} else {
					$('#divTable').show();
					$('#divNoEnrollment').hide();
					
					for(i=0; i < enrollment.length; i++) {
						
						$('#tabelaResultados > tbody').append('<tr> <td> ' + enrollment[i].discipline.name + ' </td> ' +
				  		                                      '     <td> ' + formatDateBD(enrollment[i].dateStart) + ' </td> ' +
				  							                  '     <td> ' + formatDateBD(enrollment[i].dateEnd) + ' </td> ' +
				  							                  '     <td> ' + enrollment[i].discipline.total_classes + ' </td> ' +
				  							                  '</tr>');
					}
				}
				
			} 
				
			}).fail(function(xhr, status, errorThrown){
				alert("Error: " + xhr.responseText);
			});
	}
	
	function formatDateBD(date) {
		var regex = /Date\((\d+)([-+]\d{4})?\)/;
		var match = regex.exec('/Date(' + date + ')/').slice(1, 3);
		var dateFormated = new Date(parseInt(match[0]));

		var year = dateFormated.getFullYear();
		var month = dateFormated.getMonth();
		var day = dateFormated.getDate();

		if (day < 10) {
			day = '0' + day;
		}
		if (month < 10) {
			month = '0' + (month + 1);
			if (month == '010') {
				month = '10';
			}

		}
		return day + '/' + month + '/' + year;
	}
	
	</script>
	
</body>

</html>
