<!DOCTYPE html>
<html xmlns="http://www.w3.org/I999/xhtml" xmlns:th="http://www.thymeleaf.org"
  										   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  										   
<div th:include="includes/head.html"></div>

<body>

	<!-- Pre-loader start -->
	<div th:include="includes/theme-loader.html"></div>

	<!-- Pre-loader end -->
	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">

			<div th:include="includes/navbar.html"></div>

			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">

					<div th:include="includes/navbarmainmenu.html"></div>

					<div class="pcoded-content">
						<!-- Page-header start -->
						<div th:include="includes/pageheader.html"></div>
						<!-- Page-header end -->
						<div class="pcoded-inner-content">
							<!-- Main-body start -->
							<div class="main-body">
								<div class="page-wrapper">
									<!-- Page-body start -->
									<div class="page-body">

										<div class="card">
											<div class="card-header">
												<h4>All Teachers</h4>
											</div>
											
											<div style="padding-left:23px;">
												<h6>Click on the teacher's name for the courses enrolled.</h6>											
											</div>
											
												<div class="card-block table-border-style">
													<div class="table-responsive">
														<table class="table">
															<thead>
																<tr>
																	<th>Name</th>
																	<th>Email</th>
																	<th>CPF</th>
																	<th>Telephone</th>
																</tr>
															</thead>
															<tbody>
																<tr th:each = "teacher : ${teachers}">
																	<td><a data-toggle="modal" data-target="#disciplineTeacherModal" th:onclick="@{'teacherDisciplines('+${teacher.id}+');'}" th:text="${teacher.name}"></a></td>
																	<td th:text = "${teacher.email}"></td>
																	<td th:text = "${teacher.cpf}"></td>
																	<td th:text = "${teacher.telephone}"></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											
										</div>
									</div>
									<!-- Page-body end -->
								</div>
								<div id="styleSelector"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:include="includes/jsfile.html"></div>

	<!-- Modal -->
	<div class="modal fade" id="disciplineTeacherModal" tabindex="-1" role="dialog"	aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="exampleModalLabel">Teacher subjects</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					   <div style="height: 400px; overflow: scroll;">
						<table class="table" id="tabelaResultados">
							<thead>
								<tr>
									<th scope="col">Discipline</th>
									<th scope="col">Total Classes</th>
									<th scope="col">Students Enrolled</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					  </div>	
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"	data-dismiss="modal">Exit</button>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
	function teacherDisciplines(teacherId) {
		$.ajax({
			method: "get",
			url: "teacherDisciplines",
			data: "id=" + teacherId,
			success: function(discipline) {
							
				$('#tabelaResultados > tbody > tr').remove();

				for(i=0; i < discipline.length; i++) {
					
					$('#tabelaResultados > tbody').append('<tr> <td> ' + discipline[i].name + ' </td> ' +
			  							                  '     <td> ' + discipline[i].total_classes + ' </td> ' +
			  							                  '     <td> ' + discipline[i].enrollments + ' </td> ' +
			  							                  '</tr>');
				}
			} 
				
			}).fail(function(xhr, status, errorThrown){
				alert("Error: " + xhr.responseText);
			});
	}
	</script>

</body>

</html>
