<!DOCTYPE html>
<html xmlns="http://www.w3.org/I999/xhtml" xmlns:th="http://www.thymeleaf.org"
  										   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  										   
<div th:include="includes/head.html"></div>

<body>

	<!-- Pre-loader start -->
	<div th:include="includes/theme-loader.html"></div>

	<!-- Pre-loader end -->
	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">

			<div th:include="includes/navbar.html"></div>

			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">
					
					<div th:include="includes/navbarmainmenu.html"></div>

					<div class="pcoded-content">
						<!-- Page-header start -->
						<div th:include="includes/pageheader.html"></div>
						<!-- Page-header end -->
						<div class="pcoded-inner-content">
							<!-- Main-body start -->
							<div class="main-body">
								<div class="page-wrapper">
									<!-- Page-body start -->
									<div class="page-body">

										<div class="card">
											<div class="card-header">
												<h4>Disciplines</h4>
											</div>
											
												<div class="card-block table-border-style">
												 <div class="table-responsive">
													
													<div th:if="${disciplines.size > 0}">
													
													<h6>Click on the discipline's name to see the students enrolled.</h6>
													
													  <form action="#" method="post">
														<table class="table">
															<thead>
																<tr>
																  <th></th>
																  <th>Discipline</th>
																  <th>Total Classes</th>
																</tr>
															</thead>
															<tbody>
																<tr th:each = "discipline : ${disciplines}">
																  <td><input type="radio" name="id_discipline" th:value="${discipline.id}" required></td>
																  <td><a data-toggle="modal" data-target="#disciplineTeacherModal" th:onclick="@{'studentsEnrolleds('+${discipline.id}+');'}" th:text="${discipline.name}"></a></td>
																  <td th:text="${discipline.total_classes}"></td>
																</tr>	
															</tbody>
													    </table>
													    	<input class="btn btn-danger" type="submit" value="Null">	
													  </form>  
													 </div>
													 <div th:unless="${disciplines.size > 0}">
														 	<span>No disciplines available!</span>
													 </div> 
												</div>
											</div>
										</div>
									</div>
									<!-- Page-body end -->
								</div>
								<div id="styleSelector"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:include="includes/jsfile.html"></div>
	
	<div class="modal fade" id="disciplineTeacherModal" tabindex="-1" role="dialog"	aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="exampleModalLabel">Students</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					   <div style="height: 400px; overflow: scroll;" id="divTable">
						<table class="table" id="tabelaResultados">
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">Name</th>
									<th scope="col">RA</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					  </div>	
					  
					  <div id="divNoStudent">
						<span>No students enrolled in discipline!</span>
					  </div>
					  
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"	data-dismiss="modal">Exit</button>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
	function studentsEnrolleds(id) {
		$.ajax({
			method: "get",
			url: "studentsEnrolleds",
			data: "id=" + id,
			success: function(students) {
							
				$('#tabelaResultados > tbody > tr').remove();
		
				if(students.length == 0) {
					$('#divTable').hide();
					$('#divNoStudent').show();
				} else {
					$('#divTable').show();
					$('#divNoStudent').hide();
					
					for(i=0; i < students.length; i++) {
						
						$('#tabelaResultados > tbody').append('<tr> <td> ' + (i+1) + ' </td> ' +
															  '     <td> ' + students[i].name + ' </td> ' +
				  		                                      '     <td> ' + students[i].ra + ' </td> ' +
				  							                  '</tr>');
					}
				}
				
			} 
				
			}).fail(function(xhr, status, errorThrown){
				alert("Error: " + xhr.responseText);
			});
	}
	</script>
	
</body>

</html>
