<!DOCTYPE html>
<html xmlns="http://www.w3.org/I999/xhtml" xmlns:th="http://www.thymeleaf.org"
  										   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  										   
<div th:include="includes/head.html"></div>

<body>

	<!-- Pre-loader start -->
	<div th:include="includes/theme-loader.html"></div>

	<!-- Pre-loader end -->
	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">

			<div th:include="includes/navbar.html"></div>

			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">

					<div th:include="includes/navbarmainmenu.html"></div>

					<div class="pcoded-content">
						<!-- Page-header start -->
						<div th:include="includes/pageheader.html"></div>
						<!-- Page-header end -->
						<div class="pcoded-inner-content">
							<!-- Main-body start -->
							<div class="main-body">
								<div class="page-wrapper">
									<!-- Page-body start -->
									<div class="page-body">

										<div class="card">
											<div class="card-header">
												<h4>Welcome to your profile</h4>
											</div>
												<div class="card-block table-border-style">
													<div class="table-responsive">
													  <form action="saveTeacher" method="post">
														<table class="table">
															<thead>
																<tr>
																  <th>ID</th>
																  <th>Name</th>
																  <th>Email</th>
																  <th>Telephone</th>
																  <th>CPF</th>
																</tr>
															</thead>
															<tbody>
																<tr th:object="${teacher}">
																  <td><input type="text" th:field="*{id}" name="id" readonly></td>
																  <td><input type="text" th:field="*{name}" name="name"></td>
																  <td><input type="text" th:field="*{email}" name="email"></td>
																  <td><input type="text" th:field="*{telephone}" name="telephone"></td>
																  <td><input type="text" th:field="*{cpf}" name="cpf"></td>
																</tr>
															</tbody>
														</table>
														<button class="btn btn-primary" type="submit">Save</button>
													  </form>	
													</div>
												</div>
										</div>
									</div>
								</div>
								<!-- Page-body end -->
							</div>
							<div id="styleSelector"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:include="includes/jsfile.html"></div>

</body>

</html>
