<!DOCTYPE html>
<html xmlns="http://www.w3.org/I999/xhtml" xmlns:th="http://www.thymeleaf.org"
  										   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="UTF-8">
<div th:include="includes/head.html"></div>

  <body>
 	
  <!-- Pre-loader start -->	
  <div th:include="includes/theme-loader.html"></div>
  
  <!-- Pre-loader end -->
  <div id="pcoded" class="pcoded">
      <div class="pcoded-overlay-box"></div>
      <div class="pcoded-container navbar-wrapper">
		
		<div th:include="includes/navbar.html"></div>

          <div class="pcoded-main-container">
              <div class="pcoded-wrapper">
				
				<div th:include="includes/navbarmainmenu.html"></div>
				
                  <div class="pcoded-content">
                      <!-- Page-header start -->
                      	<div th:include="includes/pageheader.html"></div>
                      <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-body start -->
                                    <div class="page-body">
										<h4>Carrinho de compras</h4>
										<div class="row">
											<div class="col-sm-12">
												<!-- Basic Form Inputs card start -->
												<div class="card">
													<div class="card-block table-border-style">
														<h4 class="sub-title">Comidas selecionadas. Finalize a compra ou continue comprando</h4>
														
														 <div class="table-responsive">
													
															<div th:if="${items.size > 0}">
																<table class="table">
																	<thead>
																		<tr>
																			<th>Nome</th>
																			<th>Preço</th>
																			<th class="text-right">Quantidade</th>
																			<th class="text-right">Total</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr th:each = "item : ${items}">
																			<td th:text="${item.food.name}"></td>
																			<td th:text="${item.food.price}"></td>
																			<td class="text-right"><span th:text="${item.qtde}"></span>
																				<a class="btn btn-sm btn-primary" th:href="@{/updateQuantity/{id_food}/{action}(id_food=${item.food.id}, action=1)}">
																					<i class="fa fa-plus"></i>
																				</a>
																				<a class="btn btn-sm btn-primary" th:href="@{/updateQuantity/{id_food}/{action}(id_food=${item.food.id}, action=0)}">
																					<i class="fa fa-minus"></i>
																				</a>
																			</td>
																			<td class="text-right" th:text="${item.totalValue}"></td>
																			<td class="text-left">
																				<a class="btn btn-sm btn-danger" th:href="@{/deleteItem/{id_food}(id_food=${item.food.id})}">
																					<i class="fa fa-trash"></i>
																				</a>
																			</td>
																		</tr>
																		<tr>
																			<td></td>
																			<td></td>
																			<td></td>
																			<td class="text-right">Valor total: R$<span th:text="${totalValue}"></span></td>
																		</tr>
																	</tbody>
																</table>
																	<a class="btn btn-secondary" href="/placeOrder">Continuar</a>
																	<a class="btn btn-primary" href="/finishOrder">Finalizar</a>
															 </div>
															 <div th:unless="${items.size > 0}">
																 <span>Carrinho de compras vazio</span><br><br>
																 <a class="btn btn-secondary" href="/placeOrder">Voltar</a>
															 </div>  
															  
														 </div>
															 
													</div>
												</div>
											</div>
										</div>
                                    <!-- Page-body end -->
                                  </div>
                               </div>
                                <div id="styleSelector"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div th:include="includes/jsfile.html"></div>
    
</body>
</html>